.block, .transaction
  ul 
    list-style none

 .from
   margin-right 1em
 .to
   margin-left 1em

  .blocks, .block-data
    ul
      margin 0
      padding 0

      li
        list-style none

  .block
    display flex
    flex-flow row
    border-left solid 3px

    .block-icon
      flex 1

      .svg-icon
        fill color2
        width 2em
        height @width

    .block-number
      color color2
      margin-left 0.25rem
      font-size 1.25em
      font-weight 400   