.block, .transaction
  ul 
    list-style none

 .from
   margin-right 1em
 td.from, th.from
   text-align right
 .to
   margin-left 1em
 td.to, th.to
    text-align left

  .blocks, .block-data
    ul
      margin 0
      padding 0

      li
        list-style none

  .block
    display flex
    flex-flow row
    border-left solid 3px

    .block-icon
      flex 1

      .svg-icon
        fill brand2
        width 2em
        height @width

    .block-number
      color brand2
      margin-left 0.25rem
      font-size 1.25em
      font-weight 400   



.centered
  margin 0 auto

ul.prev-next
  list-style none
  display flex
  justify-content space-between
  margin 0
  padding 0
  li 
    flex 0 1 auto
    margin 0
  .total 
    flex 2 0 auto
    text-align center  
  .prev
    margin-left 1em
  .next
    margin-right 1em
