@import 'vars.styl'
@import 'mixins.styl'  

big-header()
  .nav
    padding 0
    margin 0
    width 100%
    display flex
    order 2
  .brand, .search
    margin 0
    justify-content center
    order 1
  .brand
    flex-flow row wrap
    div
      flex 0 0 100%
    .title  
      flex-centered() 
  .menu
    li, li a
      display flex
      padding 0 !important
      margin 0
      flex-flow column wrap
      .icon
        margin 0
        width 3rem
        height @width
        flex 1
    li
      margin 2em
      
  header
    flex-flow column nowrap
    flex-centered()
  .header-content
    order 3
    margin 0 0 2em 0
    min-width 20em
    flex-centered()
    .search
      display flex
      min-width 100%
      input 
        flex 1