@import './colors.styl'
@import './mixins.styl'
button
  cursor pointer
  color color3
  background-color transparent
  border none
  cursor hand
  .arrow
    border-color color1colorcolor11
  .svg-icon
    fill color1
    width  1em
    height  @width
  &  hover
      color  color2
      .arrow
        border-color  color2
    .svg-icon
      fill  color2

button.icon
  width 1.5em
  height @width
  padding .25em
  &.svg-icon, .icon
    width 1em
    height 1em

 .btn  
   padding .25em .5em
   border-radius .1em
   box-shadow 1px 1px 1px rgba(0,0,0,.5)
   margin 0 .25em
   font-weight bold

button.big
  font-size 1em
  width 2.5em
  height @width
  .svg-icon
    width 1.75em 
    height @width
  .badge
    font-size .8em !important 
button.big-txt
  font-size 1.25em

button.menu
  width 2.5em
  height 2.5em
  padding 0
  .svg-icon
    width 2em
    height 2em
button.circle
  border-radius 50%
  border  $border
  padding .4em
  .svg-icon
    width 1.5em
    height 1.5em
   &  hover
    border-color color2 



.btn.badge, .w-badge
  position relative
  margin .75em .5em .75em .25em
  display inline-block
  .badge
    badge(1.5em)
    position absolute
    bottom -.75em
    right @bottom
    .arrow
      border-color $white
  &  hover  
    .badge
      background $color2

button.close 
  min-width $button-close-size
  min-width @min-height
  svg
    display inline-block
    min-height $button-close-size
    min-width @min-height

button.btn.selected, button.btn.dark.selected
  color $selected
  fill @color

button.delete
  delete()
  border-color $warn-light

button.btn.dark
  color-darkness()

button.link
  link()