@import './vars.styl'
.chart
  padding .5em 0
  position:relative
  .header
    display: flex
    .icon, .svg-icon
      width: 1em
      height : 1em
      margin-right 1em
      top: .5em

.chart, .node-chart
  svg 
    overflow: visible  
    fill $color
    
.chart-title
  font-weight:normal
  margin-left: 2em
  font-size: 1em
 
  button.max
    position:absolute
    top: 1em
    right :2em
    z-index: 50
    pointer-events: initial
    &:hover
      color: $brand2
    
    .dialog
      position:absolute
      z-index:999
      left:0
      top:0
      min-width: 100%  

.max-chart
  padding 1em 1.5em
.dark-chart
  background-color $quasi-bg
  border: $frame-border
  .line
    stroke: $color
  .label
    fill: $color 
  .axis
    stroke $color 
   .axis-label
    fill $mid  
 .dialog-header
  .title
    color:$color

.curve-back
  path
    opacity .2
    stroke none