@import './vars.styl'

.page-title
  font-size 2.5em

h2.title
  transition $transition-fade
ul.inline
  display inline
  margin 0
  padding 0
  color $color
  text-shadow $txt-sh

.inline
  list-style none

  li
    display inline-block

    &:after
      content ' '
      margin 0 0.5em

.cross-cursor
  cursor crosshair

.suffix
  font-size 0.8em

.med
  font-size 2em

.row
  display flex
  flex-flow row nowrap

.col
  flex-centered()

.full-w
  flex-centered()
  flex 1 1 100%

.space-v
  margin 0.5em

.nav-bar
  display flex
  flex-flow row nowrap

  .col
    flex 1 1 100%

  .col:first-of-type *
    text-align left

  .col:last-of-type
    text-align right

.big-number
  font-size 0.6em

.soft
  color gray
  font-size 0.9em

.link
  link()

.pill
  pill()

.text
  margin 0 1rem

.frame
  frame($border-color)

.raw
  raw()

  ul
    list-style none

.bold
  font-weight 600

.hidden
  display none

.frow
  flex 1

.subtitle
  color $color
  min-width 100%
  margin 1em 0

.subtitle + .section
    margin-top 0

.section + .subtitle
  margin-top 2em  

.line-item
  margin .5em 1em
  flex 1 0