.page-title
  font-size 2.5em

ul.inline
  display: inline 
  margin:0
  padding:0
  color:$color
  text-shadow: $txt-sh

.inline
  list-style: none
  li
    display: inline-block
    &:after
      content: ' '
      margin: 0 0.5em

.cross-cursor
  cursor: crosshair

.suffix
  font-size: 0.8em

.med
  font-size: 2em

.row
  display flex
  flex-flow row nowrap

.nav-bar
  display flex
  flex-flow row nowrap
  .col
   flex 1 1 100%
  .col:first-of-type *
    text-align left
  .col:last-of-type 
    text-align right

.big-number
  font-size: .6em

 .soft
    color gray
    font-size .9em 


.pill
  display flex
  justify-content center
  align-items center
  width auto
  height 1.5em
  line-height 1em
  background $color
  color white
  fill white
  list-style none
  border-radius 1em
  margin 0 0 0 .5em
  & :first-child
    margin-left 1em
  & :last-child
    margin 0 .25em 0 1em
  svg *
    fill white  
  button.clear
    width 1.5em
    padding 0
    display flex
    justify-content center
    align-items center
    font-size .9em
    height @width
    border-radius 1em
    background $color

.text
  margin 0 1rem