@import './vars.styl'
@import './mixins.styl'
$colors = json('../../config/colors.json',{ hash: true })
// generates colors classes
 for color in $colors
   apply-color(color,$colors[color])

apply-colors('error' 'info' 'warn' 'brand','$')

.bg-brand1
  color brand3
.bg-brand2
  color brand2
.bg-brand3    
  color gray
