@import 'vars.styl'
@import 'media_queries.styl'
@import 'mixins.styl'

td
  .td-title
    display none

table.flex-table
  max-width 100%
  flex-table()

  td
    .td-title
      font-weight 600
      color $color


  thead.show, thead.show tr
    width 100%
    flex-centered()
    border none
  th
    min-height 2em
    border none
    padding 0 !important
    margin 0 !important
  th.dummy, .unsortable
    display none
  thead.show 
    tr
      frame($border-color)
      justify-content space-between
      margin-bottom 2em
    th
      margin 0 .5em !important  

table.responsive-flex-table
  max-width 100%

  td
    .td-title
      display none

@media $media_medium_max
  table.responsive-flex-table
    flex-table()
