footer 
  font-size .8em
  text-align center
  padding .5em 0
  background $darkness-odd
  color gray
  margin 2em 0 0 0

.footer footer
  display flex
  justify-content center
  align-items center

    svg
      height 5rem
      fill $dark