footer 
  font-size .8em
  text-align center
  padding .5em 0
  background color3
  color gray

.footer footer
  display flex
  justify-content center
  align-items center

  .iso
    flex 1

    svg
      height 5rem
      fill gray