@import './buttons.styl'
@import './mixins.styl'

::-webkit-input-placeholder
  color $controls-color
  font-style italic

::-webkit-search-cancel-button
  /* Remove default */
  -webkit-appearance none
  height 0.75em
  width 0.75em
  background $dark
  
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border $border
  -webkit-text-fill-color $color
  -webkit-box-shadow 0 0 0px 1000px $bg-color inset
  transition background-color 5000s ease-in-out 0s
}

form
  padding 0
  margin 2em 0
  background $quasi-bg
fieldset
  //borders()
  border none
  margin 1.5em 0
  padding 0
  
  div
    display flex

legend
  color $brand

select
  font-size normal
  padding .5em 2em
  

label
  margin 0.250em
  margin-top 0.5em

label + input[type='range']
  display block

input, select
  defaultsColors()
  borders()

  &:focus
    focus()

input[placehoder], ::-moz-placeholder, input::-moz-placeholder
  text-overflow ellipsis

input.big
  font-size 1.125em

input[type='checkbox']
  appearance none
  border $color solid 0.1em
  width 1.1em
  height @width
  display inline-flex
  justify-content center
  align-items center

  &::after
    width 0.4em
    height @width
    content ''
    display block
    background trasparent

  &:checked
    &::after
      background $color

textarea
  font-family $monospace-font

label,input, select,legend 
  margin 0 1em