

.header
  grid-area header

.hero
  grid-area hero

.side-a
  grid-area side-a

.main
  grid-area main

.side-b
  grid-area side-b

.footer
  grid-area footer

.wrapper
  display grid
  grid-gap .1em
  grid-template-areas "header"\
                      "hero"\
                      "side-a"\
                      "main"\
                      "side-b"\
                      "footer"