@import 'variables.styl'
header
  background color1
  color color3
  display flex
  flex-flow row nowrap
  align-items center
  min-height 3.25em
  justify-content space-between
  .iso
    width 50px
    display inline-block
  .title
    
    h1
      font-size 1.25em
      font-weight 600
      margin 0
  .nav
    flex 1
    text-align right
    a
      color color3
    ul 
      list-style none
      li
        display inline-block
        margin-right 2em
        font-weight bold