svg.svg-icon
  fill $color
  width 1em
  height @width
  overflow visible

.svg-icon.white
  fill white
.svg-icon .cube
  .bg
    fill white

  .fill
    fill color2
    opacity 0.9

  .top
    fill rgba(255, 255, 255, 0.2)

  .front
    fill rgba(0, 0, 0, 0.3)

  .side
    fill rgba(0, 0, 0, 0.15)

svg.small
  width 0.6em !important
  height @width

.small .svg-icon
  width 1.125em !important
  height @width

svg.medium
  width 1.5em !important
  height @width
