@import './media_queries.styl'

$margin = 1rem
$min-col-w = 4rem

body
  margin 0
  border 0
  display flex
  flex-direction column

.wrapper
  display flex
  min-height 100vh
  flex-direction column

.main, .cols
  flex 1 1 100%
  min-height 100vh
  display flex

.col-a
  order 1
  flex 1 0 100%

.col-b
  order 2
  flex 1 0 100%

@media $media_small
  .col-a, .col-b, .main
    margin 0
  .col-a
    flex 1 1 50%
   .col-b
     flex 1 1 50%

// Medium
@media $media_medium
   .main
     margin 0 5rem
  .col-a
    margin 0

  .col-b
    margin 0

// Large
@media $media_large
  .main
    margin 0 15rem
  
  .col-a
    margin 0

  .col-b
    margin 0
