@import './media_queries.styl'

$margin = 1rem
$min-col-w = 4rem

body, .wrapper
  margin 0
  border 0
  display flex
  flex-direction column
  max-width 100%
  //overflow-x hidden

.wrapper, .main
  min-height 100vh
  max-width 100%

.page, .data-page, .centered
  max-width 100%

.data-page, .page
  width 100%
  display flex
  flex-flow column wrap
  align-items center
  justify-content  flex-start

.main, .cols, .home
  display flex
  flex 1 1 100%
  flex-flow row wrap
.main
  margin 0 1rem
.hero
  display flex
  flex 1 1 100%
  flex-flow row wrap

.col-a, .col-b
  flex 0 1 100%
  max-width 100%

.col-a
  order 1

.col-b
  order 2

@media $media_medium
  .main
    margin 0 2rem
  .col-a, .col-b
    margin 0
    flex 1 1 50%
    max-width 50%

  .hero 
    flex-flow row nowrap
    .col-a, .col-b
      flex 0 1 50%
      align-items flex-start

// Medium
@media $media_medium
  .main
    margin 0 5rem



// Large
@media $media_large
  .main
    margin 0 10rem

  .col-a
    margin 0

  .col-b
    margin 0

// XLarge
@media $media_xlarge
  .main
    margin 0 15rem