ul.plain
  list-style none
  padding 0
  margin 0

ul.flex
  display flex
  flex-flow row wrap
  li
    flex 0 1 100%
  li.half
    flex 1 0 50%

dl 
  display inline-block
  clear both  
dt,dd
  float left
dt
  font-weight bold
  clear both
  margin-bottom 1em

dl.data
  dt 
    font-weight bold