@import 'vars.styl'  
  
  // iso plain-color mixin
  logo-plain-color()
    #leaves *
      fill none
  
  // Colors
  svg.isologo
    fill brand3
    min-width 15px
    stroke none
    .leaf-1
      fill brand1
    .leaf-2
      fill brand2  
  
  .iso
    svg.isologo
      #logo 
        display none
      #claim
        display none  

  .bg-brand1
    svg.isologo
      fill brand3

  
  .plain-color
    svg
      logo-plain-color()