@import 'vars.styl'
  
html
  font-size 100%

html, body, button
  margin 0
  padding 0

body
  font-size $font-size
  font-family $base-font
  background-color $bg-color
  color $txt-color
  line-height 1.7em

body, button, input
  font-family $forms-font

h1, h2, h3, h4, h5, h6
  color $txt-color
  display block

svg text
  user-select none

:focus
  outline 0
p
  margin 0
  padding 0
a
  text-decoration none
  link()

h1
  display inline
  margin 0

*[class^='col-']
  .title
    margin-left 1em

sub, sup 
  font-size .75em
  margin 0 0 0 .25em

small, .small 
  font-size smaller

::selection
  background $selection-bg
  color $selection-color

pre
  margin 0
.pre
  display block
  unicode-bidi embed
  font-family: monospace
  white-space: pre
