
json('../../config/media_breakpoints.json')

$media_xsmall = "screen and (min-width: "+ xsmall +"px)",
$media_small = "screen and (min-width: "+ small +"px)",
$media_medium = "screen and (min-width: "+ medium +"px)",
$media_large = "screen and (min-width: "+ large +"px)",
$media_xlarge = "screen and (min-width: "+ xlarge +"px)",

$media_xsmall_max = "screen and (max-width: "+ xsmall +"px)",
$media_small_max = "screen and (max-width: "+ small +"px)",
$media_medium_max = "screen and (max-width: "+ medium +"px)",
$media_large_max = "screen and (max-width: "+ large +"px)",
$media_xlarge_max = "screen and (max-width: "+ xlarge +"px)"
