
json('../../config/media_breakpoints.json')
$media_small = "screen and (min-width: "+ small +"px)",
$media_medium = "screen and (min-width: "+ medium +"px)",
$media_large = "screen and (min-width: "+ large +"px)",