@import './colors.styl'
@import './vars.styl'

.hljs-comment,
.hljs-quote 
  color $comments


.hljs-variable,
  color red
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class 
  color orange


.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
  color red
.hljs-params 
  color desaturate(orange,50%)


.hljs-string,
.hljs-symbol,
.hljs-bullet 
  color desaturate(blue,20%)

.hljs-title,
.hljs-section 
  color cyan


.hljs-keyword,
.hljs-selector-tag 
  color darken(color1, 10%)

.hljs-function  .hljs-keyword
  font-weight bold

.hljs-deletion,
.hljs-addition 
  color #171c19
  display inline-block
  width 100%


.hljs-deletion 
  background-color $dark2


.hljs-addition 
  background-color $dark


.hljs 
  display block
  overflow-x auto
  background $bg-odd
  color grey
  padding 0.5em


.hljs-emphasis 
  font-style italic


.hljs-strong 
  font-weight bold

