@import 'vars.styl'

  $scrollbar-width = 8px

::-webkit-scrollbar-track
  box-shadow $inset-sh 
  background-color $darkness-even

::-webkit-scrollbar
  width $scrollbar-width
  background-color $gray
  

::-webkit-scrollbar-thumb
  // box-shadow $box-sh
  // box-shadow 0px 0px 30px rgba(255,255,255,.5), 1px 1px 20px $color
  background-color $color
  border-radius ($scrollbar-width / 2)

 ::-webkit-resizer
   background-color $color
   // box-shadow inset 1px 0px 1px rgba(0, 0, 0, 0.5)
   background linear-gradient(135deg, gray 50%, $color 50%)