@import './vars.styl'
  table
    border:none
    padding:0
    margin:0
    border-spacing: 0
    table-layout fixed
    th
      padding: .5em 1em 
      border-bottom color3 solid 2px
      .entity-icon
        .svg-icon 
          height 1.5em
          width: 1.5em
        .badge
          bottom: 0
          right: -1.5em
          font-size: .6em

    td
     font-size: 0.8em
     line-height 2em
     padding: .125em 1em
     white-space: nowrap
     text-align center
     border-bottom $color solid 1px

$head-bg = $color
$row-odd-bg = $darkness-odd
$row-even-bg = $darkness-even
$border-color = alpha($color,.2)
$pinned-border = $color2 solid 1px

  table.dark
    color: $txt-color
    tr
      border: $color solid 1px
    tr, th
      .svg-icon
        color $color
    th
      border-bottom: $border-color dashed 1px
      background-color $head-bg
    tr.odd td
      background-color $row-odd-bg
    tr.even td   
      background-color $row-even-bg
    tr.pinned
      .pin .svg-icon
        fill: $color2  
    tr:last-child td
      border-bottom: solid 1px $border-color
    tr:hover td
      background-color: $darkness2 
    