@import './vars.styl'
  table
    border none
    padding 0
    margin 0
    border-spacing 0
    table-layout fixed
    th
      padding .5em 1em 
      border-bottom brand3 solid 2px
      color $color
      font-weight normal
      button
        font-size  1em
      .entity-icon
        .svg-icon 
          height 1.5em
          width 1.5em
        .badge
          bottom 0
          right -1.5em
          font-size .6em

    td
     font-size 0.8em
     // line-height 2em
     padding .125em 1em
     white-space nowrap
     word-break break-all
     text-align center
     border-bottom $color solid 1px
     // prevents tooltip overflow
     .tooltip .value
       white-space normal !important

$head-bg = $color
$row-odd-bg = $darkness-odd
$row-even-bg = $darkness-even
$pinned-border = $brand2 solid 1px

  table.dark
    color $txt-color
    border none
    tr, th
      .svg-icon, button, button *
        color $color
        fill $color
    th
      border-bottom $soft-border
      padding 1em 2em
      color $color
        button *
          color $color
      // background-color $head-bg
    tr.odd td
      background-color $row-odd-bg
    tr.even td   
      background-color $row-even-bg
    tr.pinned
      .pin .svg-icon
        fill $color
    tr:last-child td
      border-bottom $mid-border
    td 
      border none
      border-bottom $soft-border
      padding .75em 1.5em
    tr > td:first-child , tr > th:first-child
      padding-left 3em  
    tr > td:last-child , tr > th:last-child
      padding-right 3em 