
.tabs
  justify-content flex-start
  flex 1
  max-width 100%
  min-width 100%
.tabs-titles
  display flex
  flex 1 0 100%
  min-width 100%
  flex-flow row nowrap
  justify-content flex-start
  margin 1em 0 0 0

.tab-title
  display flex
  margin 0 .5em 0 0 
  justify-content  center
  align-items center
  .title
    margin 0 1em
    text-transform capitalize
   .svg-icon *
     fill color2
   .loading-circle
     .circle
      fill none 
      stroke color1
.tab-title.active
  background $color
  font-weight bold
  color white
  .svg-icon *
    fill @color
  .loading-circle
    .circle
      stroke @color

.tab-content
  min-width 100%
  display block 
  flex 1