   @import 'vars.styl' 
  
  .tooltip
    
    button.copy
      link()
    .tip
      filter drop-shadow($tip-sh)
      color $dark

      .value
        align-items center

    .points .icon
      color $color

.copying
  color $color